.dataTables_wrapper .dataTables_filter input {
    background: white;
    border: 1px solid #05386b3f;
    border-radius: 3px;
}

select {
    border: 1px solid #05386b3f;
    border-radius: 4px;
    padding: 3px;
}

.usuariosTitulo {
    text-align: center;
    margin-top: 20px ;
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Gilroy-Regular';
    color: #05386B;
}

thead {
    background-color: #05386be0;
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-shadow: none !important;
    background-color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: #5cdb95 !important;
    border: #5cdb95;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: #5cdb95 !important;
}

td a {
    text-align: center;
}

a .fa-trash {
    padding: 10px;
    background: rgb(230, 65, 65);
    width: 70%;
    color: white;
    margin: auto;
    border-radius: 7px;
}

@media only screen and (max-width: 600px) { 
    .nombre {
        display: none;
    }

    .usuariosTitulo {
        font-size: 1.5em;
    }

    .apellido {
        display: none;
    }

    .correo {
        width: 30% !important;
    }

    table {
        width: 30px !important;
    }

    a .fa-trash {
        padding: 15px;
        width: 100%;
    }
}